@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

</head>
<body>
    <div>
        @Html.ActionLink("Создать опрос", "Create", "Home")

        <br />

        @Html.ActionLink("Опрос", "Survey", "Home")



    </div>
</body>
</html>

