@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

</head>
<body>
    <div>
        <button>@Html.ActionLink("Создать опрос", "CreateSurvey", "Survey")</button>

        <br />


        <ul style="display:block">

            @{
                foreach (var a in Model)
                {
                    <li>
                        <a href="Survey/Survey/@a.Id" class="list-group-item list-group-item-action">
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <h3 class="mb-1">@a.Name</h3>
                                <small>@a.Date.ToShortDateString()</small>
                            </div>
                            <p class="mb-1">@a.Creator<p />
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</body>
</html>

